* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  width: auto; }

h1 {
  text-align: center;
  margin: 10px;
  padding: 10px;
  text-decoration: underline;
  color: white;
  font-family: 'Gloria Hallelujah', cursive; }

p {
  font-family: 'Work Sans', sans-serif; }

body {
  background-color: black;
  color: white;
  margin: auto;
  padding: auto; }

h2 {
  margin: 10px;
  padding: 10px;
  text-decoration: underline;
  position: relative; }

.main1 {
  width: auto;
  height: 500px; }
  .main1 .seccion1 {
    display: flex;
    flex-direction: row-reverse; }
  .main1 .parrafo1 {
    margin: 5px; }
  .main1 .link1:hover {
    color: red; }

.seccion2 .subtitulo1 {
  margin: 10px;
  padding: 10px;
  text-decoration: underline;
  position: relative; }

.seccion2 .canciones1 {
  text-decoration: none;
  color: white;
  margin: 5px;
  padding: 5px; }
  .seccion2 .canciones1:hover {
    text-decoration: underline; }

.seccion3 {
  width: 1250px; }

.seccion4 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr; }
  .seccion4 .imagen1 {
    display: flex;
    flex-direction: row-reverse;
    margin: 20px;
    border: white solid;
    width: 500px; }
    .seccion4 .imagen1 .parrafo2 {
      margin: 5px; }
  .seccion4 .imagen2 {
    display: flex;
    flex-direction: row-reverse;
    margin: 20px;
    border: white solid;
    width: 500px;
    position: relative;
    left: 750px; }
    .seccion4 .imagen2 .parrafo3 {
      margin: 5px; }
  .seccion4 .imagen3 {
    display: flex;
    flex-direction: row-reverse;
    margin: 20px;
    border: white solid;
    width: 500px; }
    .seccion4 .imagen3 .parrafo4 {
      margin: 5px; }
  .seccion4 .imagen4 {
    display: flex;
    flex-direction: row-reverse;
    margin: 20px;
    border: white solid;
    width: 500px;
    position: relative;
    left: 750px; }
    .seccion4 .imagen4 .parrafo5 {
      margin: 5px; }
  .seccion4 .imagen5 {
    display: flex;
    flex-direction: row-reverse;
    margin: 20px;
    border: white solid;
    width: 500px; }
    .seccion4 .imagen5 .parrafo6 {
      margin: 5px; }

.seccion5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 700px;
  grid-template-areas: "parrafo7 imagen6" "parrafo8 parrafo8"; }
  .seccion5 .parrafo8 {
    grid-area: parrafo8; }

.seccion6 {
  height: 300px; }

.seccion7 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "portada1 portada2 portada3"; }

.formulario1 {
  width: 400px; }
